115215012/CAND SUBMIT/report_116215012_Cognizant_CWR_Java-MSB_Pan-India_26-Nov-2024/*
Aashish_Verma_61d4310f75897d000934439f.pdf
action items.docx
candidate_reutilization_employer_details_etc.txt
Job_ID_116215012.docx
product-definition.txt
profiles_with_jd_match_score.csv
output.csv
parse_resume_output.json
solution-architecture.txt
.env
streamlit_app_jd.py
.vscode/launch.json